.git
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
*.swp
.DS_Store
._*
.idea
npm-debug.log
vendor
build
node_modules

*.komodoproject

*.lock

dist
config.json
src
examples
app

coverage

.vscode/

resources/tmp
resources/bundle.js
resources/*.hy.js
resources/*.ps.js
resources/*.ds.js
resources/*.idp.js

resources/descriptors/Hyperties.json
resources/descriptors/DataSchemas.json
